.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  overflow: hidden;
  margin-top: -2px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(mountains3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-size: 80px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  animation: fadeInDown 1s ease;
}

.hero h2 {
  font-size: 65px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  animation: fadeInDown 1.5s ease;
}

.hero button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4a4a4a;
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  font-family: 'Roboto', sans-serif;
  animation: fadeInUp 2s ease;
}

.hero button:hover {
  background-color: #ffffff;
  color: #4a4a4a;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
