.admin-product-list {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.admin-product-list h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #444;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  font-size: 0.9rem;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

th {
  background-color: #ffffff;
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #e0e0e0;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.stock-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.stock-container:last-child {
  margin-bottom: 0;
}

.stock-label {
  width: 60px;
  margin-right: 5px;
  font-weight: bold;
  color: #4caf50;
}

.admin-product-list input[type='number'] {
  width: 60px;
  margin-right: 5px;
  font-size: 0.8rem;
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  font-size: 0.8rem;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, box-shadow 0.2s;
}

button:hover {
  background-color: #388e3c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: #2e7d32;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
