.ForgotPassword {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./clouds.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .ForgotPassword-form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    text-align: center;
  }
  
  .ForgotPassword-form h2 {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: bold;
  }
  
  .ForgotPassword-form-input {
    margin: 20px 0;
  }
  
  .ForgotPassword-form-input label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  .ForgotPassword-form-input input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid lightgray;
  }
  
  .ForgotPassword-form-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  }
  